<div class="header">
  <h3>New Request</h3> 
 <img class="burger-icon" src="../../../assets/imgs/burger.svg">
  
</div> 


<div class="address">
  <p>{{ address }}</p>
</div>

<div class="google-map-container">
  <google-map
    [center]="center"
    [zoom]="zoom"
    (mapClick)="setMarker($event)"
  >
    <map-marker [position]="markerPosition" [icon]="markerIcon"></map-marker>
  </google-map>
</div>

<div class="footer">
  <button (click)="selectServices()">Select Services</button>
</div>
